{% extends 'base.html.twig' %}

{% block title %}Edit BlogPost{% endblock %}

{% block body %}

	<br/>
    <strong>Edit BlogPost</strong>
	<br/>
	<br/>

    {{ include('blog_post/_form.html.twig', {'button_label': 'Update'}) }}

    {{ include('blog_post/_delete_form.html.twig') }}
	
	<br/><strong>Comments</strong>
	{% for comment in blog_post.getBlogComments() %}
	<div id="c_{{comment.id}}">
	<br/>
	<button class="badge badge-danger" onclick="return d({{comment.id}}); return true;">Delete</button><br/>
	{{comment.body}}
	</div>
	{% endfor %}
	
	<script>
	function d(id) {
		var i = id;
		$.ajax({
			type: "POST",
			url: '{{ path('blog_comment_delete') }}',
			data: { id: id },
			success: function(data) { $('#c_'+i).remove(); }
		});
	}
	</script>
{% endblock %}
