{% extends 'base.html.twig' %}

{% block title %}Edit Post: {{ blog_post.title }}{% endblock %}

{% block body %}

	<br/>
    <strong>Edit Post: {{ blog_post.title }}</strong>
	<br/>
	<br/>

    {{ include('blog_post/_form.html.twig', {'button_label': 'Update'}) }}

    {{ include('blog_post/_delete_form.html.twig') }}
	
	<br/><strong>Comments</strong>
	{% for comment in blog_post.getBlogComments() %}
	<div id="c_{{comment.id}}">
	<br/>
	<button class="badge badge-danger" onclick="return d({{comment.id}}); return true;">Delete</button> 
	<button class="badge badge-{{comment.hidden ? 'success' : 'warning'}}" onclick="return t({{comment.id}},this); return true;">{{comment.hidden ? 'Show' : 'Hide'}}</button> 
	{{comment.body}}
	</div>
	{% endfor %}
	
	<script>
	function d(id) {
		var i = id;
		$.ajax({
			type: "POST",
			url: '{{ path('blog_comment_delete') }}',
			data: { id: id },
			success: function(data) { $('#c_'+i).remove(); }
		});
	}
	
	function t(id, btn) {
		var b = btn;
		var h = $(b).hasClass('badge-warning') ? 1 : 0;
		$.ajax({
			type: "POST",
			url: '{{ path('blog_comment_hide') }}',
			data: { id: id, hide: h },
			success: function(data) { 
				$(b).removeClass('badge-' + (h ? 'warning' : 'success'));
				$(b).addClass('badge-' + (h ? 'success' : 'warning'));
				$(b).html(h ? 'Show' : 'Hide');
			}
		});
	}
	</script>
{% endblock %}
