{% extends 'base.html.twig' %}

{% block title %}{{ blog_post.title }}{% endblock %}

{% block body %}

	<br/>
    <p><strong>{{ blog_post.title }}</strong></p>
	<p>{{ blog_post.body }}</p>
	
	<form>
	<input type="hidden" id="blogpost" name="blogpost" value="{{ blog_post.id }}"/>
	<div class="form-group row">
		<div class="col-sm-12">
			<textarea class="form-control" id="body" name="body" placeholder="Write your comment here!"/></textarea>
		</div>
	</div>
	<div class="form-group row">
		<div class="col-sm-12">
			<button class="btn btn-success" onclick="brblogCommentMgr.sendComment('{{ path('blog_comment_new') }}', this); return false;">Post your comment</button>
		</div>
	</div>
	</form>
	
	{% for comment in blog_post.getBlogComments() %}{% if comment.hidden == 0 %}<hr/>{{comment.body}}{% endif %}{% endfor %}
	
	<span id="comments_end"></span>
	
	<script>
	var brblogCommentMgr = {
	
		lastId: 0,
		postId: 0,
		updatesUrl: '',
		
		sendComment: function(path, btn) {
			var b = btn;
			$.ajax({
				type: "POST",
				url: path,
				data: {
					body: btn.form.body.value,
					blogpost: brblogCommentMgr.postId
				},
				success: function() {
					b.form.body.value = '';
				}
			});
		},
		
		timeout: function() {
			setTimeout(function () {
				brblogCommentMgr.displayNewComments();
				brblogCommentMgr.timeout();
			}, 5000);
		},
		
		displayNewComments: function() {
			$.ajax({
				type: "POST",
				url: brblogCommentMgr.updatesUrl,
				data: {
					post: brblogCommentMgr.postId,
					last: brblogCommentMgr.lastId
				},
				success: function(data) {
					if('last' in data) {
						var i;
						for(i in data.updates) { $('#comments_end').before('<hr/>'+data.updates[i]); }
						brblogCommentMgr.lastId = data.last;
					}
				}
			});
		}
		
	};
	
	brblogCommentMgr.lastId = {% if blog_post.getBlogComments().empty() %} 0 {% else %} {{ blog_post.getBlogComments()|last.id }} {% endif %};
	brblogCommentMgr.postId = {{ blog_post.id }};
	brblogCommentMgr.updatesUrl = '{{ path('blog_comment_updates') }}';
	brblogCommentMgr.timeout();
	
	</script>
	
{% endblock %}